__pycache__
.env
extract/screenshots/*
!.gitinclude
.replit
replit.nix
*.egg
*/driver
driver
myenv
.serverless
lambda_functions/packages
chromebin.zip

main-package/*
!main-package/db/*
!main-package/extract/*
!main-package/global_config/*
!main-package/setup.py