[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
beautifulsoup4 = "*"
lxml = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
uvicorn = {extras = ["standard"], version = "*"}
install = "*"
mangum = "*"

[dev-packages]
